.contact-wrapper {
	width: 95%;
}

.contact a img{
	width: 20%;
}

.contact a {
	text-decoration: none;
	/*line-height: 15%;*/
	font-size: 3.9em;
}


.contact {
	margin: 5% 0;
}

@media all and (min-width: 767px) and (max-width: 992px){
	.contact a {
		font-size: 3em;
	}
}
@media all and (min-width: 481px) and (max-width: 768px){
	.contact a {
		font-size: 1.75em;
	}
}
@media all and (max-width: 480px){
	.contact a {
		font-size: 1.3em;
	}
}