.Page-headings h3 {
	display: none;
}

.image-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 95%;
	/*border: 2px solid green;*/
	margin: 20px auto;
	grid-column-gap: 1%;
	grid-row-gap: 10px;
}

.image-wrapper div {
	/*border: 1px solid blue;*/
	display: grid;
	grid-template-rows: 1fr 4.5fr;
}
.image-wrapper div h4 {
		padding: 5% auto 0px auto;
}
.image-wrapper div img {
	/*border: 1px solid red;*/
	width: 100%;
	border-radius: 5%;
}

@media all and (min-width: 993px){
	.Page-headings h3 {
		display: initial;
	}
	.image-wrapper div h4 {
		display: none;
	}
	.image-wrapper div {
		display: block;
	}	
}

@media all and (min-width: 767px) and (max-width: 992px){
	.image-wrapper {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media all and (min-width: 481px) and (max-width: 768px){
	.image-wrapper {
		grid-template-columns: 1fr 1fr;
	}
}
@media all and (max-width: 480px){
	.image-wrapper {
		display: block;
	}
	.image-wrapper div h4 {
		margin: 10px auto 0px auto;
	}
	.image-wrapper div img {
		margin: -30px auto 10px auto;
		border: 1px solid black;
	}
}